<p id="notice"><%= notice %></p>

<h1>Reading Lists</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Created at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reading_lists.each do |reading_list| %>
      <tr>
        <td><%= reading_list.name %></td>
        <td><%= reading_list.created_at %></td>
        <td><%= link_to 'Show', reading_list %></td>
        <td><%= link_to 'Edit', edit_reading_list_path(reading_list) %></td>
        <td><%= link_to 'Destroy', reading_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reading List', new_reading_list_path %>
