<% provide(:title, "Search") %>

<h1>Search</h1>
<p>
  Type in the desired book title below.
</p>


<%= form_for :search, scope: :search, url: search_path, local:true do |form| %>
  <%= form.label :query, "Title:" %>
  <%= form.text_field :title %><br/>

  <%= form.label :query, "Author:" %>
  <%= form.text_field :author %><br/>

  <%= form.label :query, "Keywords:" %>
  <%= form.text_field :keywords %><br/>

  <%= form.label :query, "Subject" %>
  <%= form.text_field :subject %><br/>
  
  <%= form.submit "Search" %>
<% end %>
