<% provide(:title, "Results") %>

<h1>Results</h1>
<p>
  Here's what we found:
</p>

<% @response.titles.each do |title| %>
<p> 
Title: <%= title[:title_name] %> 
<br/> Author: <%= title[:author] %> 
<br/> BID: <%= title[:bid] %> 
</p>

<%= form_with(model: @book) do |form| %>

  <div class="field">
    <%= form.text_field :title, value: title[:title_name], type: :hidden %>
  </div>

  <div class="field">
    <%= form.text_field :author, value: title[:author], type: :hidden %>
  </div>

  <div class="field">
    <%= form.number_field :bid, value: title[:bid], type: :hidden %>
  </div>

  <%# This checks if user is signed in. If not, submitting a book will just lead to the login page %>
  <% if user_signed_in? %>

  <%# This checks to see if user has a reading list. If not, it will not put it in any reading list %>
  <% if current_user.reading_lists.first %>
    <div class="field">
      <%= form.number_field :reading_list_id, value: current_user.reading_lists.first.id, type: :hidden %>
    </div>
  <% end %>

  <div class="field">
    <%= form.number_field :user_id, value: current_user.id, type: :hidden %>
  </div>

  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<% end %>


