<% provide(:title, "Results") %>

<h1>Results</h1>
  <% if @response.total_records == "0" %>
    <p>We did not find anything matching your search descriptions. Please try again.</p>
  <% else %>
    <p>
      Listing <%= @response.next_record_position %> out of <%= pluralize(@response.total_records.to_i, 'record') %>.
      </br>
    </p>

    <% @response.titles.each do |title| %>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= link_to title[:title_name], "search/#{title[:bid]}", target: :blank %></h5>
          <%# feels a bit hacky. Any better way? search_path(title[:bid]) doesn't work %>
          <p class="card-text">Author: <%= title[:author] %><br/> BID: <%= title[:bid] %></p>
          
          <%= button_to "Add", search_add_path, params: {bid: title[:bid]}, target: :blank %>

        </div>
      </div><br/>

      
    <% end %>
  <% end %>


