<p id="notice"><%= notice %></p>

<h3>Books</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>BID</th>
      <th>Availability</th>
      <th>Location</th>
      <th>Reading List</th>
      <th>Owner</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= link_to book.title, book %></td>
        <td><%= book.author %></td>
        <td><%= book.bid %></td>
        <td><%= book.availability %></td>
        <td><%= book.location %></td>
        <% if book.reading_list %>
          <td><%= book.reading_list_id %></td>
          <td><%= book.reading_list.user.email %></td>
        <% else %>
          <td></td>
          <td></td>
        <% end %>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>

<p> Current user is <%= current_user.email %></p>
<% end %>
<%= link_to 'New Book', new_book_path %>
