<p id="notice"><%= notice %></p>

<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>ISBN</th>
      <th>Availability</th>
      <th>Location</th>
      <th>Reading List</th>
      <th>Owner</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.author %></td>
        <td><%= book.isbn %></td>
        <td><%= book.availability %></td>
        <td><%= book.location %></td>
        <% if book.reading_list %>
          <td><%= book.reading_list_id %></td>
          <td><%= book.reading_list.user.email %></td>
        <% else %>
          <td></td>
          <td></td>
        <% end %>
        <td><%= link_to 'Show', book %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>

<p> Current user is <%= current_user.email %></p>
<% end %>
<%= link_to 'New Book', new_book_path %>
