<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>BID:</strong>
  <%= @book.bid %>
</p>

<% @book.book_availabilities.each do |status| %>
<hr/>
  <p>
    <strong>Location Code:</strong>
    <%= status.location_code %>
  </p>

  <p>
    <strong>Status Code:</strong>
    <%= status.status_code %>
  </p>  


<% end %>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', :back %>
