<h3>Books</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>BID</th>
      <th>Availability</th>
      <th>Location</th>
      <th>Reading List</th>
      <th>Owner</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= link_to book.title, book %></td>
        <td><%= book.author %></td>
        <td><%= book.bid %></td>
        <td><%= book.availability %></td>
        <td><%= book.location %></td>
        <% if book.reading_list %>
          <td><%= book.reading_list.name %></td>
        <% else %>
          <td></td>
        <% end %>
        <td><%= book.user.email %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Reading Lists</h3>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th>ID</th>
      <th>Reading List ID</th>
      <th>Books in List</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reading_lists.each do |reading_list| %>
      <tr>
        <td><%= link_to reading_list.name, reading_list %></td>
        <td><%= reading_list.name %></td>
        <td><%= reading_list.user.email %></td>
        <td><%= reading_list.id %></td>
        <td><%= reading_list.books.count %></td>
        <td><%= link_to 'Edit', edit_reading_list_path(reading_list) %></td>
      </tr>
    <% end %>
  </tbody>
</table>