<h3>Books</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>BID</th>
      <th>Availability</th>
      <th>Location</th>
      <th>Created On</th>
      <th>Updated On</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% current_user.books.each do |book| %>
      <tr>
        <td><%= link_to book.title, book %></td>
        <td><%= book.author %></td>
        <td><%= book.bid %></td>
        <td>
        <% book.book_availabilities.each do |status| %>
          <% if status.status_code == nil %>
            Nil<br/>
          <% else %>
            <%= status.status_code %><br/>
          <% end %>
        <% end %>
        </td>
        <td>
        <% book.book_availabilities.each do |status| %>
          <%= status.location_code if !status.location_code.nil? %><br/>
        <% end %>
        </td>
        <% if !book.book_availabilities.first.nil? %>
          <td><%= book.book_availabilities.first.created_at.localtime %></td>
          <td><%= book.book_availabilities.first.updated_at.localtime %></td>
        <% else %>
          <td>Nil</td>
          <td>Nil</td>
        <% end %>
        <td>
          <%= link_to 'Edit', edit_book_path(book) %>
          <%= link_to 'Update', "search/update/#{book.id}" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>